<p>
Digital literacy is critical for generating impactful and reproducible research. 
The JCU eResearch Centre encourages post-graduate students and researchers to expand their capacity with training like 
<a href="{{site.swc_site}}">Software Carpentry</a> which aims to help researchers get their work done by teaching 
them basic research computing skills. This hands-on 2-day workshop will introduce the Unix Shell -- which provides access 
to powerful tools for data analysis and manipulation. We'll also get a taste for Git -- a tool for managing your 
data with 'versioning' and increasing your power to collaborate. And last but not least, we'll dip our toes in R -- gaining 
access to a flexible environment for data manipulation, visualisation and more! Participants will be 
encouraged to help one another and to apply what they have learned to their own research problems.
</p>

<p align="center">
  <em>
    For more information on what we teach and why,
    please see our paper
    "<a href="http://journals.plos.org/plosbiology/article?id=10.1371/journal.pbio.1001745">Best Practices for Scientific Computing</a>".
  </em>
</p>

<hr>

